/* Start Global Rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
html {
    scroll-behavior: smooth;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
:root {
    --main-Color: #18d26e ;
    --main-Transition: 0.4s ;
    --main-Padding: 80px;
    --section--Color: #f7f7f7;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* // Medium devices  */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* // Large devices  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* // X-Large devices  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-header {
    text-align: center;
    z-index: 20;
}
.main-header h2 {
    font-size: 60px;
    position: relative;
    color: #111;
    width: fit-content;
    margin: 20px auto;
}
.main-header h2::before {
    content: '';
    position: absolute;
    bottom: -8px;
    background-color: var(--main-Color);
    width: 50px;
    height: 4px;
    left: 130px;
    z-index: 1;
}
@media (max-width: 767px) {
    .main-header h2::before {
        left: calc(50% - 20px);
    }
}
.main-header h2::after {
    content: "";
    position: absolute;
    width: 143px;
    height: 2px;
    background-color: #888;
    bottom: -7px;
    left: 85px;
}
@media (max-width: 767px) {
    .main-header h2::after {
        left: calc(50% - 60px);
    }
}
@media (max-width: 767px) {
    .main-header h2 {
        font-size: 35px;
    }
}
.main-header p {
    font-size: 17px;
    line-height: 1.7;
    z-index: 1;
    position: relative;
    text-transform: capitalize;
    margin: 30px auto;
    width: 800px;
}
@media (max-width: 1200px) {
    .main-header p  {
        width: 100%;
    }
}
.hidden {
    opacity: 0;
}
.top {
    position: relative;
    top: -500px;
    opacity: 0;
}
.left {
    position: relative;
    left: -500px;
    opacity: 0;
}
.bottom {
    position: relative;
    bottom: -500px;
    opacity: 0;
}
.right {
    position: relative;
    right: -500px;
    opacity: 0;
}
/* End Global Rules  */
/* Start Header  */
.header {
    padding: 10px 10px 0;
    position: relative;
    background-color: rgb(0 0 0 / 95%);
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.header.active {
    position: fixed;
    width: 100%;
    z-index: 999999;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.header .logo {
    border-left: 7px solid var(--main-Color);
    font-size: 40px;
    padding-left: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
}
.header i {
    font-size: 40px;
    color: white;
    display: none;
    cursor: pointer;
}
@media (max-width: 1300px) {
    .header i {
        display: block;
    }
}
.header .links.active li {
    width: 100%;
}
.header .links.active li a {
    width: fit-content;
    margin-left: 40px;
}
.header .links {
    display: flex;
}
@media (max-width: 1200px) {
    .header .links {
        display: none;
        position: absolute;
        top: 90px;
        background-color: #000;
        width: 100%;
        left: 0;
        z-index: 9999999;
        border-bottom: 3px solid var(--main-Color);
    }
}
.header .links a {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}
.header .links a:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.header .links a.active {
    color: var(--main-Color);
}
/* End Header  */
/* Start landing */
.landing {
    height: calc(100vh - 115px);
    position: relative;
    overflow: hidden;
}
.landing .slider {
    width: 500%;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.landing .slider .slide-1 {
    background-image: url(../images/hero-carousel/1.jpg);
    background-size: cover;
}
.landing .slider .slide-2 {
    background-image: url(../images/hero-carousel/2.jpg);
    background-size: cover;
}
.landing .slider .slide-3 {
    background-image: url(../images/hero-carousel/3.jpg);
    background-size: cover;
}
.landing .slider .slide-4 {
    background-image: url(../images/hero-carousel/4.jpg);
    background-size: cover;
}
.landing .slider .slide-5 {
    background-image: url(../images/hero-carousel/5.jpg);
    background-size: cover;
}
.landing .slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    text-align: center;
    width: 100%;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
}
.landing .slider .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.landing .container {
    text-align: center;
    color: white;
    width: 100%;
    z-index: 1;
}

.landing .container h2 {
    font-size: 60px;
    font-weight: 800;
    margin: 50px 0 0;
}
@media (max-width: 767px) {
    .landing .container h2 {
        font-size: 35px;
    }
}
.landing .container p {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .landing .container p{
        font-size: 18px; 
    }
}
.landing .container .angle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.landing .container .angle i {
    font-size: 80px;
    opacity: 1;
    cursor: pointer;
}
.landing .container .angle i:hover {
    opacity: 1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.landing .container .angle button {
    background: none;
    border: none;
    color: #fff;
}
.landing .container .prev {
    position: absolute;
    left: 0;
}
.landing .container .next {
    position: absolute;
    right: 0;
}
.landing .container a {
    display: block;
    color: white;
    width: fit-content;
    margin: 20px auto 70px;
    border: 1px solid var(--main-Color);
    padding: 15px;
    width: 180px;
    border-radius: 6px;
    background-color: var(--main-Color);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.landing .container a:hover {
    border: none;
    background-color: white;
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.landing .container .bullets {
    display:flex;
    justify-content: center;
    align-items: center;
}
.landing .container .bullets span {
    width: 40px;
    height: 8px;
    margin: 10px;
    background-color: #eee;
    cursor: pointer;
    opacity: 0.6;
}
.landing .container .bullets span:hover {
    opacity: 1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End landing */
.box-model {
    position: fixed;
    top: 100px;
    left: -250px;
    background-color: #fff;
    height: 100vh;
    width: 250px;
    transition: var(--main-Transition);
    z-index: 999999;
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.box-model.active {
    left: 0;
}
.box-model .icon {
    position: absolute;
    top: 40px;
    right: -40px;
    background-color: var(--section--Color);
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.box-model .icon i {
    font-size: 27px;
    cursor: pointer;
    color: #000;
    animation: rounded 1s linear infinite;
    -webkit-animation: rounded 1s linear infinite;
}
.box-model h5 {
    font-size: 16px;
    color: var(--main-Color);
    text-transform: capitalize;
}
.box-model .color ul {
    display: flex;
    padding: 0;
}
.box-model .color ul div {
    width: 40px;
    height: 40px;
    background: #f00;
    margin: 0 9px;
    cursor: pointer;
    opacity: 0.6;
}
.box-model .color ul div.active {
    opacity: 1;
    border: 3px solid #000000;
}
.box-model .color ul div:first-child {
    background-color: #f44336;
}
.box-model .color ul div:nth-child(2) {
    background-color: #e91e63;
}
.box-model .color ul div:nth-child(3) {
    background-color: #9c27b0;
}
.box-model .color ul div:nth-child(4) {
    background-color: var(--main-Color);
}
.one {
    --main-Color:#f44336;
}
.two {
    --main-Color: #e91e63;
}
.three {
    --main-Color: #9c27b0;
}
.four {
    --main-Color: #18d26e;
}
.box-model .body-bg ul {
    display: flex;
    padding: 0;
}
/* Start Feature */
.feature {
    --section--Color: #f7f7f7;
    background-color: black;
    padding-top: 30px;
    color: #fff;
    overflow: hidden;
}
.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 60px;
}
.feature .container i {
    font-size: 50px;
    color: var(--main-Color);
}
.feature .container .card {
    padding: 20px;
}
.feature .container .active {
    background-image: linear-gradient(
        0deg, #000000 0%, #242323 50%, #000000 100%);
}
.feature .container .card h2 {
    font-size: 25px;
}
.feature .container .card p {
    font-size: 20px;
    line-height: 1.6;
}
/* End Feature */
/* Start About */
.about {
    background-color:var(--section--Color);
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.92);
}
.about .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    position: relative;
    margin-top: 80px;
}
.about .container .card {
    position: relative;
    text-align: center;
    box-shadow: 0 2px 40px #ddd
}
.about .container .card img {
    max-width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.about .container .card i {
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 165px;
    left: 137px;
    border: 5px solid white;
    background-color: var(--main-Color);
    color: white;
}

@media (max-width: 767px) {
    .about .container .card i {
        left: calc(50% - 38px);
        top: calc(50% - 116px);
    }
}

@media (min-width: 992px) and (max-width: 1191px){
    .about .container .card i {
        left: calc(50% - 39px);
        top: calc(50% - 136px);
    }
}
.about .container .card i:hover {
    background-color: white;
    color: var(--main-Color);
    border-color: white;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.about .container .card .card-content {
    margin-top: 46px;
    padding: 0 20px 20px 20px;
}
.about .container .card .card-content h2 {
    font-size: 30px;
    color: black;
}
.about .container .card .card-content p {
    font-size: 17px;
    line-height: 1.6;
    color: #333;
}
/* End About */
/* Start Services */
.services {
    background-color:var(--section--Color);
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    position: relative;
    overflow: hidden;
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 80px;
}
.services .container .card {
    font-size: 25px;
}
.services .container .card .head {
    margin-bottom: 15px;
}
.services .container .card .head i {
    font-size: 50px;
    color: var(--main-Color);
}
.services .container .card .head a {
    margin-left: 15px;
    color: black;
    font-size: 24px;
    font-weight: 600;
}
.services .container .card .head a:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.services .container .card .content {
    line-height: 1.7;
    margin-left: 70px;
    margin-bottom: 0;
    font-size: 19px;
}
/* End Services */
/* Start Action */
.action {
    background-color:var(--section--Color);
    padding-top: 40px;
    padding-bottom: var(--main-Padding);
    background-image: url(../images/call-to-action-bg.jpg);
    background-size: cover;
    height: 45vh;
    position: relative;
    
}
@media (max-width: 991px) {
    .action {
        padding-top: 20px;
    }
}
@media (max-width: 767px) {
    .action {
        padding-top: 5px;
    }
}
.action::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1));
}
.action .conatiner {
    text-align: center;
    color: white;
}
.action .conatiner h2 {
    font-size: 40px;
    font-weight: 700;
}
@media (max-width: 767px) {
    .action .conatiner h2 {
        margin: 10px 0 0;
    }
}
.action .conatiner p {
    line-height: 1.6;
    font-size: 17px;
}
@media (max-width: 767px) {
    .action .conatiner p {
        font-size: 15px;
        margin: 10px 5px 5px;
    }
}
.action .conatiner a {
    display: block;
    border: 2px solid white;
    width: 270px;
    font-size: 25px;
    padding: 15px;
    margin: 20px auto;
    color: white;
    text-transform: capitalize;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .action .conatiner a {
        width: 300px;
    }
}
.action .conatiner a:hover {
    background-color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Action */
/* Start Skills */
.skill {
    background-color:var(--section--Color);
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    position: relative;
    overflow: hidden;
}
.skill .container {
    margin-top: 80px;
}
.skill .container .progress {
    height: 50px;
    margin-bottom: 15px;
}
.skill .container .prog-holder {
    width: 100%;
    background-color: #eee;
    height: 50px;
}
.skill .container .prog-holder .prog {
    height: 100%;
    width: 0;
    transition: all 0.4s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.skill .container .prog-holder .html {
    background-color: #198754;
}
.skill .container .prog-holder .css {
    background-color: #0dcaf0;
}
.skill .container .prog-holder .javascript {
    background-color: #ffc107;
}
.skill .container .prog-holder .photoshop {
    background-color: #dc3545;
}
.skill .container .prog-holder span {
    font-size: 25px;
    margin-left: 17px;
    text-transform: uppercase;
    color: white;
}
@media (max-width: 767px) {
    .skill .container .prog-holder span {
        margin: 3px;
        margin: 3px;
        font-size: 20px;
    }
}
.skill .container .prog-holder i {
    font-size: 25px;
    margin-right: 10px;
    color: white;
}
@media (max-width: 767px) {
    .skill .container .prog-holder i {
        font-size: 20px;
        margin-right: 3px;
    }
}
/* End Skills */
/* Start Facts */
.fact {
    background-color:var(--section--Color);
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    position: relative;
    background-image: url(../images/facts-bg.jpg);
    background-size: cover;
    overflow: hidden;
}
.fact::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.88);
}
.fact .main-header h2::before {
    left: calc(50% - 20px)!important;
}
.fact .main-header h2::after {
    left: calc(50% - 70px)!important;
}
.fact .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    margin-top: 40px;
}
@media (max-width: 991px) {
    .fact .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
.fact .container span:first-of-type {
    display: block;
    text-align: center;
    font-size: 45px;
    color: var(--main-Color);
    font-weight: 700;
}
.fact .container span:last-of-type {
    display: block;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin: 15px 0 0;
}
.fact img {
    position: relative;
    margin-top: 45px;
    max-width: 100%;
    width: 100%;
}
@media (max-width: 1200px) {
    .fact img {
        width: 100%;
        max-width: 100%;
    }
}
/* End Facts */
/* Start Portfolio */
.portfolio {
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    background-color: var(--section--Color);
    position: relative;
    overflow: hidden;
}
.portfolio .main-header h2::before {
    left: calc(50% - 20px)!important;
}
.portfolio .main-header h2::after {
    left: calc(50% - 70px)!important;
}
.portfolio .container {
    margin-top: 70px;
}
.portfolio .container .head {
    text-align: center;
}
.portfolio .container .head button {
    padding: 10px;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.portfolio .container .head button.active {
    background-color: var(--main-Color);
    color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.portfolio .container .head button:hover {
    background-color: var(--main-Color);
    color: white;
    border-radius: 6px;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.portfolio .container .portfolio-content {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.portfolio .container .portfolio-content .box {
    background-color: white;
    box-shadow: 0 2px 20px #ddd;
    overflow: hidden;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.portfolio .container .portfolio-content .box img {
    max-width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
}
.portfolio .container .portfolio-content .box .details {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.box-overly {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 , 0 , 0 , 0.8);
    overflow: hidden;
    z-index: 1000;
}
.img-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: 0.4s linear;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    background-color: #ffff;
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 60px;
    z-index: 1001;
}
.img-box img {
    max-width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.close-button {
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: var(--main-Color);
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
/* End Portfolio */
/* Start Clints */
.client {
    background-color:var(--section--Color);
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    position: relative;
    overflow: hidden;
}
.client .main-header h2::before {
    left: calc(50% - 48px);
}
.client .main-header h2::after {
    left: calc(50% - 95px);
}
@media (max-width: 767px) {
    .client .main-header h2 {
        font-size: 35px;
    }
    .client .main-header h2::before {
        left: calc(50% - 33px);
    }
    .client .main-header h2::after {
        left: calc(50% - 80px);
    }
}
.client .client-slider {
    overflow: hidden;
    margin: 50px 0;
}
.client .client-slider .slider {
    width: 155%;
    display: flex;
    justify-content: center;
}
.client .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.client .btn button {
    font-size: 25px;
    cursor: pointer;
}
.client .btn .prev {
    position: absolute;
    left: 10px;
}
.client .btn .next {
    position: absolute;
    right: 10px;
}
.client .container img {
    max-width: 100%;
    opacity: 0.6;
}
.client .container img:hover {
    opacity: 1;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Clients */
/* Start Testimoalis */
.testimonials {
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    background-color: var(--section--Color);
    position: relative;
    overflow: hidden;
}
.testimonials .main-header h2::before {
    left: calc(50% - 11px);
}
.testimonials .main-header h2::after {
    left: calc(50% - 56px);
}
.testimonials .container {
    text-align: center;
    margin-top: 80px;
}
.testimonials .test-slider {
    overflow: hidden;
}
.testimonials .test-slider .slider {
    display: flex;
    width: 550%;
}
.testimonials .test-slider .slider .box {
    width: 100%;
    text-align: center;
}
.testimonials .container .person {
    width: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials .container h2 {
    font-size: 30px;
    color: #111;
    font-weight: 700;
    margin: 10px 0;
}
.testimonials .container h4 {
    font-size: 20px;
    color: #999;
    margin: 0 0 10px 0;
}
.testimonials .container p {
    line-height: 1.6;
    font-size: 17px;
    margin: 0 auto 15px ;
    width: 800px;
}
@media (max-width:1200px) {
    .testimonials .container p {
        width: 100%;
    }
}
.testimonials .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.testimonials .container .btn button {
    font-size: 25px;
    cursor: pointer;
}
.testimonials .container .btn .prev {
    position: absolute;
    left: 150px;
}
.testimonials .container .btn .next {
    position: absolute;
    right: 150px;
}

/* End Testimoalis */
/* Start Team  */
.team {
    background-color:var(--section--Color);
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    position: relative;
    overflow: hidden;
}
.team .main-header h2::before {
    left: calc(50% - 15px);
}
.team .main-header h2::after {
    left: calc( 50% - 63px);
}
.team .container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    gap: 50px;
}
@media (max-width: 991px) {
    .team .container  {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .team .container img {
        width: 100%;
    }
}
.team .container .box {
    position: relative;
    overflow: hidden;
}
.team .container .box:hover .info {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    top: 0;
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.team .container .box img {
    max-width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width: 767px) {
    .team .container .box img {
        max-width: 100%;
        width: 100%;
    }
}
.team .container .box .info {
    position: absolute;
    top: -50px;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.team .container .box .info h4 {
    margin: 50px 0 0;
    font-size: 23px;
    font-weight: 700;
}
.team .container .box .info .icons {
    margin: 20px;
}
.team .container .box .info .icons i {
    font-size: 25px;
    padding: 10px;
}
.team .container .box .info .icons i:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
/* End Team  */
/* Start Contact */
.contact {
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    background-color: var(--section--Color);
    position: relative;
    overflow: hidden;
}
.contact .main-header h2::before {
    left: calc( 100% - 211px);
}
.contact .main-header h2::after {
    left: calc(50% - 63px);
}
.contact .container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
}
@media (max-width: 991px) {
    .contact .container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}
.contact .container .box {
    text-align: center;
}
.contact .container .box:nth-child(1),
.contact .container .box:nth-child(2) {
    border-right: 1px solid #999;
    padding-right: 40px;
}
@media (max-width: 991px) {
    .contact .container .box:nth-child(1),
.contact .container .box:nth-child(2) {
    border: none;
    padding-right: 0;
}
}
.contact .container .box i {
    font-size: 80px;
    margin-bottom: 10px;
    color: var(--main-Color);
}
.contact .container .box span:first-of-type {
    display: block;
    font-size: 25px;
    color: #999;
    padding: 10px;
    font-weight: 700;
}
.contact .container .box span:last-of-type {
    font-size: 17px;
    margin: 0;
    color: #000;
}
.contact .container .box span a {
    font-size: 20px;
    color: #000;
}
.contact .container .box span a:hover {
    color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.contact form {
    width: fit-content;
    margin: 30px auto;
    text-align: center;
    background-color: #fff;
    padding: 30px 0;
}
@media (max-width: 991px) {
    .contact form {
        display: none;
    }
}
@media (max-width: 991px) {
    .contact form {
        width: 100%;
    }
}
.contact form input[name="name"] {
    padding: 15px;
    width: 400px;
}
.contact form input[name="mail"] {
    margin-left: 39px;
    width: 400px;
    padding: 15px;
}
.contact form input[name="sub"] {
    width: 847px;
    padding: 15px;
    margin: 20px ;
}
.contact form textarea {
    margin: 0 0 15px 0;
    width: 851px;
    height: 300px;
    padding: 15px;
}
.contact form textarea:focus {
    outline: none;
    border-color: #86b7fe;
    color: #212529;
}
.contact form input[type="submit"] {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 20px auto;
    background-color: var(--main-Color);
    border: 0;
    color: white;
    cursor: pointer;
}
.contact form input[type="submit"]:hover {
    background: none;
    color: var(--main-Color);
    border: 1px solid var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
@media (max-width: 991px) {
    .contact form input, 
    textarea {
        width: 100%;
    }
}
.contact form input:focus {
    outline: none;
    border-color: #86b7fe;
    color: #212529;
}
/* End Contact */
/* Start Footer  */
.footer {
    padding-top: var(--main-Padding);
    padding-bottom: var(--main-Padding);
    position: relative;
    background: #111;
    color: #fff;
    overflow: hidden;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
@media (max-width: 1200px) {
    .footer .container {
        flex-direction: column;
    }
}
.footer .head {
    padding-left: 25px;
    margin-right: 25px;
}
@media (max-width: 1200px) {
    .footer .head {
        flex-direction: column;
        text-align: center;
    }
}
.footer .head h2 {
    font-size: 40px;
    border-left: 5px solid var(--main-Color);
    padding: 15px 15px 15px;
}
.footer .head p {
    font-size: 16px;
    line-height: 1.8;
    color: #eee;
    width: 250px;
}
@media (max-width: 1200px) {
    .footer .head p {
        width: 100%;
    }
}
.footer .links .main-header h2 {
    color: white;
    font-size: 20px;
    display: flex;
    width: 150px;
    text-transform: uppercase;
}
@media (max-width: 1200px) {
    .footer  .main-header h2 {
        width: 100%;
        margin-left: 10px;
    }
}
.footer  .links .main-header h2::before {
    left: 0;
    bottom: -15px;
}
.footer  .links .main-header h2::after {
    left: 0;
    bottom: -15px;
}
.footer  .links ul {
    margin-top: 25px;
    padding: 0;
}
.footer  .links ul li {
    padding: 15px;
    font-size: 19px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(153, 153, 153);
    width: 250px;
    display: block;
}
@media (max-width: 1200px) {
    .footer  .links ul li {
        margin-left: 10px;
        width: 300px;
    }
}
.footer  .links ul li a {
    color: #fff;
    margin-left: 10px;
}
.footer  .links ul li a:hover {
    margin-left: 20px;
}
.footer  .links ul li a:hover {
    transition: var(--main-Transition);
    color: var(--main-Color);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.footer  .links ul li i {
    font-size: 30px;
    color: var(--main-Color);
}
.footer  .contact-us {
    margin-left: 50px;
}
@media (max-width: 1200px) {
    .footer .contact-us {
        margin: 0;
        width: 100%;
    }
}
.footer  .main-header h2 {
    color: white;
    font-size: 20px;
    display: flex;
    width: 137px;
    text-transform: uppercase;
}
.footer  .contact-us .main-header h2::after {
    left: 0;
    bottom: -15px;
}
.footer  .contact-us .main-header h2::before {
    left: 0;
    bottom: -15px;
}
.footer  .contact-us address {
    margin-top: 51px;
    width: 165px;
    margin-left: 47px;
    line-height: 1.6;
}
@media (max-width: 1200px) {
    .footer  .contact-us address {
        margin-left: 10px;
    }
}
.footer  .contact-us .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
}
@media (max-width: 1200px) {
    .footer  .contact-us .phone {
        justify-content: flex-start;
        margin-left: 10px;
    }
}
.footer  .contact-us .phone h2 {
    font-size: 19px;
}
.footer  .contact-us .phone p {
    margin-left: 10px;
}
@media (max-width: 1200px) {
    .footer  .contact-us .phone p  {
        margin: 0;
    }
}
.footer  .contact-us .email {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .footer  .contact-us .email {
        justify-content: flex-start;
        margin-left: 10px;
    }
}
.footer  .contact-us .email h2 {
    font-size: 19px;
}
.footer  .contact-us .email p {
    margin-left: 10px;
}
.footer  .contact-us .icons {
    margin-left: 24px;
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .footer  .contact-us .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.footer  .contact-us .icons i {
    font-size: 25px;
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    margin-left: 8px;
}
.footer  .contact-us .icons i:hover {
    background-color: var(--main-Color);
    transition: var(--main-Transition);
    -webkit-transition: var(--main-Transition);
    -moz-transition: var(--main-Transition);
    -ms-transition: var(--main-Transition);
    -o-transition: var(--main-Transition);
}
.footer .letter {
    margin-left: 50px;
    margin-right: 25px;
}
@media (max-width: 1200px) {
    .footer .letter {
        margin-left: 10px;
    }
}
.footer .main-header h2 {
    color: white;
    font-size: 20px;
    display: flex;
    width: 192px;
    text-transform: uppercase;
}
.footer .letter .main-header h2::before {
    bottom: -10px;
    left: 0;
}
.footer .letter .main-header h2::after {
    bottom: -10px;
    left: 0;
}
.footer .letter p {
    margin-top: 50px;
    line-height: 1.7;
    width: 250px;
}
@media (max-width: 1200px) {
    .footer .letter p {
        width: 100%;
    }
}
.footer .letter form {
    position: relative;
}
@media (max-width: 1200px) {
    .footer .letter form {
        width: 100%;
    }
}
.footer .letter form input[name="foot-mail"] {
    padding: 10px;
    border-right: none;
}
@media (max-width: 1200px) {
    .footer .letter form input[name="foot-mail"] {
        display: flex;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}
}
.footer .letter form input[value="subscribe"] {
    position: absolute;
    right: 20px;
    padding: 10px;
    background-color: var(--main-Color);
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .footer .letter form input[type="submit"] {
        position: relative;
        width: 100%;
        padding: 16px;
        margin: 20px;
}
}
.footer .letter form input[name="foot-mail"]:focus {
    outline: none;
}
.copy {
    background-color: #333;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.copy span {
    color: var(--main-Color);
}
/* End Footer  */

.up {
    position: fixed;
    right: 30px;
    bottom: 60px;
    background-color: var(--main-Color);
    color: #000;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    z-index: 1;
}

/* Start Animation  */
@keyframes rounded {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
/* End Animation  */